<!DOCTYPE html>
<html ng-app='peopleDirApp'>

<head>
   <meta charset="utf-8">
   <title>Address Book Mockup</title>
   <link rel="stylesheet" type="text/css" href="style.css" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
    <div class="app-address-book" ng-controller='AddrBookCntlr'>
        <!-- LEFT COLUMN -->
        <div class="app-directory-container">
            <div class="app-directory-search-section">
               <select class="app-directory-search" ng-options="option.name for option in peopleData"
                       ng-model="currentPerson"></select>
               </select>
            </div>
            <div class="app-directory-sort-section">
               <i class="fa fa-sort-alpha-asc" ng-click="sortAtoZ()"></i>
               &nbsp;&nbsp;&nbsp;
               <i class="fa fa-sort-alpha-desc" ng-click="sortZtoA()"></i>
               &nbsp;&nbsp;&nbsp;
            </div>
            <!-- DIRECTORY COMPONENT -->
            <div class="app-directory" ng-repeat='(heading,group) in dirGroups'>
               <div class="app-directory-separator">{{ heading }}</div>
                <div class="app-directory-item" ng-repeat='person in group'>
                    <span ng-click="setCurrentPerson(person);">{{ person.name }}</span>
                </div>
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="app-person-profile-container" ng-if="currentPerson">
            <!-- PERSON PROFILE COMPONENT -->
            <div class="app-person-profile docs-highlight docs-blue" data-intro="Person Profile" data-position="bottom">
                <!-- PERSON PROFILE HEADER -->
                <div class="app-person-profile-header">
                    <!-- PHOTO -->
                    <div class="app-person-profile-photo" style="background-image: url(avatar.png)"></div>

                    <h2>{{ currentPerson.name }}</h2>
                    <div class="app-person-profile-department">
                        {{ currentPerson.title }}
                    </div>
                    <div class="app-person-profile-phone-number">
                        {{ currentPerson.phone }}
                    </div>
                    <div class="app-person-profile-phone-number">
                        <a href="mailto:{{ currentPerson.email }}">{{ currentPerson.email }}</a>
                    </div>
                </div>

                <!-- EDUCATION SECTION -->
                <div class="app-section">
                    <div class="app-section-header">
                        <h3>Education</h3>
                    </div>
                    <div class="app-section-body" ng-repeat="school in currentPerson.education">
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                {{ school.startYear }}-{{ school.endYear }}
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">{{ school.institution }}</div>
                                {{ school.degree }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WORK HISTORY SECTION -->
                <div class="app-section">
                    <div class="app-section-header">
                        <h3>Experience</h3>
                    </div>
                    <div class="app-section-body" ng-repeat="workplace in currentPerson.workExperience">
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                {{ workplace.startYear }}-{{ workplace.endYear }}
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">{{ workplace.institution }}</div>
                                {{ workplace.title }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script>
      var peopleDirApp = angular.module('peopleDirApp', []);
      peopleDirApp.controller('AddrBookCntlr', function($scope) {
         $scope.peopleData = [];;
         $scope.dirGroups = {};
         $scope.currentPerson = null;
         angular.element(document).ready(function () {
            var url = window.location.origin + '/api/people';
            $.get(url, function(data) {
               var grouped_data;
               $scope.peopleData = JSON.parse(data).people.sort(aToZPeopleSort);
               grouped_data = makeDataGroups($scope.peopleData);
               $scope.dirGroups = grouped_data;
               // angular doesn't seem to know we've changed the data. Prod it.
               $scope.$apply();

            }).fail(function() {
               alert('error on ajax call to ' + url );
               // TODO: for more diagnostics register handler with ajaxError()
            });
         });
         $scope.setCurrentPerson = function(person) {
            $scope.currentPerson = person;
         }
         $scope.sortAtoZ = function() {
            $scope.peopleData.sort(aToZPeopleSort);
            $scope.dirGroups = makeDataGroups($scope.peopleData);
         };
         $scope.sortZtoA = function() {
            $scope.peopleData.sort(zToAPeopleSort);
            $scope.dirGroups = makeDataGroups($scope.peopleData);
         };
      });
      
      // for every person in the data, if an endYear is missing in
      // workExperience or education, add one with value "Present"
      function fixEndYears(data) {
         data.foreach(function(person) {
            person.education.foreach(function(school) {
               if (!'endYear' in school) {
                  school.endYear = 'Present';
               }
            });
            person.workExperience.foreach(function(job) {
               if (!'endYear' in job) {
                  job.endYear = 'Present';
               }
            });
         });
      }
      // sort function for people A to Z
      function aToZPeopleSort(person1, person2) {
         var person1LC = person1.name.toLowerCase(),
             person2LC = person2.name.toLowerCase();
         var result;
         if (person1LC < person2LC) {
            result = -1;
         } else if (person1LC > person2LC) {
            result = 1;
         } else {
            result = 0;
         }
         return result;
      }
      // sort function for people Z to A
      function zToAPeopleSort(person1, person2) {
         return aToZPeopleSort(person2, person1);
      }
           
      // given an array of "people", create an object whose keys are
      // group titles and whose values are arrays of group members.
      // In this case the groups are defined by the first letter
      // of the person's "name", and the keys are unique first letters
      // of names. Values are arrays of the people with names with that
      // first letter.
      // Big assumption here: that data is already sorted
      function makeDataGroups(data) {
         var groups = {};
         var i, group_key;
         var key_array, group_array;
         // make an hash with group title as key
         for (i = 0; i < data.length; i++) {
            group_key = data[i].name.substr(0,1);
            if (groups[group_key]) {
               groups[group_key].push(data[i]);
            } else {
               groups[group_key] = [ data[i] ];
            }
         }
         return groups;
      }
   </script>

</body>

</html>