<!DOCTYPE html>
<html ng-app='peopleDirApp'>

<head>
   <meta charset="utf-8">
   <title>Address Book Mockup</title>
   <link rel="stylesheet" type="text/css" href="style.css" />
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
</head>

<body>
    <div class="app-address-book">
        <!-- LEFT COLUMN -->
        <div class="app-directory-container" ng-controller='DirGroupCntlr'>
            <!-- DIRECTORY COMPONENT -->
            <div class="app-directory" ng-repeat='(heading,group) in dirGroups'>
               <div class="app-directory-separator">{{ heading }}</div>
                <div class="app-directory-item" ng-repeat='person in group'>
                    {{ person.name }}
                </div>
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="app-person-profile-container">
            <!-- PERSON PROFILE COMPONENT -->
            <div class="app-person-profile docs-highlight docs-blue" data-intro="Person Profile" data-position="bottom">
                <!-- PERSON PROFILE HEADER -->
                <div class="app-person-profile-header">
                    <!-- PHOTO -->
                    <div class="app-person-profile-photo" style="background-image: url(avatar.png)"></div>

                    <h2>Adam Wright</h2>
                    <div class="app-person-profile-department">
                        Strategic Sales
                    </div>
                    <div class="app-person-profile-phone-number">
                        919-555-5555
                    </div>
                    <div class="app-person-profile-phone-number">
                        <a href="mailto:adam.wright@mycompany.com">adam.wright@mycompany.com</a>
                    </div>
                </div>

                <!-- EDUCATION SECTION -->
                <div class="app-section">
                    <div class="app-section-header">
                        <h3>Education</h3>
                    </div>
                    <div class="app-section-body">
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                2004-2005
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">NC State University</div>
                                Master's, Computer Science
                            </div>
                        </div>
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                2001-2004
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">NC State University</div>
                                Bachelor's, Computer Science
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WORK HISTORY SECTION -->
                <div class="app-section">
                    <div class="app-section-header">
                        <h3>Experience</h3>
                    </div>
                    <div class="app-section-body">
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                2001-Present
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">Megacorp</div>
                                Software Developer
                            </div>
                        </div>
                        <div class="app-history-item">
                            <div class="app-history-item-dates">
                                1980-2001
                            </div>
                            <div class="app-history-item-body">
                                <div class="app-history-item-title">Umbrella Corp</div>
                                Software Developer
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script>
      var peopleDirApp = angular.module('peopleDirApp', []);
      peopleDirApp.controller('DirGroupCntlr', function($scope) {
         $scope.dirGroups = {};
         angular.element(document).ready(function () {
            var url = window.location.origin + '/api/people';
            $.get(url, function(data) {
               var people_data, grouped_data;
               people_data = JSON.parse(data);
               grouped_data = make_data_groups(people_data.people);
               $scope.dirGroups = grouped_data;
               // angular doesn't seem to know we've changed the data. Prod it.
               $scope.$apply();

            }).fail(function() {
               alert('error on ajax call to ' + url );
               // TODO: for more diagnostics register handler with ajaxError()
            });
         });
      });
      
      // given an array of "people", create an object whose keys are
      // group titles and whose values are arrays of group members.
      // In this case the groups are defined by the first letter
      // of the person's "name", and the keys are unique first letters
      // of names. Values are arrays of the people with names with that
      // first letter.
      // Big assumption here: that data is already sorted
      
      function make_data_groups(data) {
         var groups = {};
         var i, group_key;
         var key_array, group_array;
         // make an hash with group title as key
         for (i = 0; i < data.length; i++) {
            group_key = data[i].name.substr(0,1);
            if (groups[group_key]) {
               groups[group_key].push(data[i]);
            } else {
               groups[group_key] = [ data[i] ];
            }
         }
         return groups;
      }
   </script>

</body>

</html>